$brand-font: "Amatica SC", cursive;
$primary-font: "Open sans", sans-serif;

html, body {
  height: 100%;  
  font-family: $primary-font;
  font-size: 16px;
}

.navbar-default .navbar-brand {
  font-family: $brand-font;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 4px;
  color: #2980b9;
}


.navbar-right {
  font-family: $brand-font;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}
