#movies {
  text-align: justify;
}

.movie-poster {
  width: 200px;
  margin-bottom: 40px;
  border: 2px solid #dbdbdb;
} 

.about-movie {
  padding: 20px;
  text-align: justify;
}

#review-comment blockquote {
  margin-right: 100px;
}

#review-comment span {
  float: right;
}